#shadow_Image,
#shadow_Image-3,
#shadow_Image-5,
#shadow_Image-7,
#Image {
  pointer-events: none;
}
body {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
#shoecontainer,
.colors {
  align-self: center;
}
rect {
  cursor: pointer;
}
#back,
#logo {
  cursor: pointer;
}
.stroke {
  stroke: black;
}
